code_anaconda
downloads
images
sample_datasets
work_*
proc_*
data


# i may have database backup, which i most likely call with these extensions
*.dmp
#*.sql  # ok, dont call dump this sql

# shape files
*.shp
*.shx
*.dbf
*.prj

*.tif

*.csv
